.row
  .small-4.small-centered.columns
    #addplane
      =link_to('Add Plane', new_plane_path, :remote => true, :class => 'button tiny success')
    #plane_form
.row
  .small-12.small-centered.columns
    #plane