.row
  .small-4.small.columns
    #addplane
      =link_to('Add Plane', new_plane_path, :remote => true, :class => 'button small radius info')
    #plane_form
.row
  .small-12.small.columns
    #plane