.row
  .small-4.columns
    #addplane
      =link_to('Add Plane', new_plane_path, :remote => true, :class => 'button small radius info')
.row
  .small-4.small-centered.columns
    #plane_form
.row
  .small-12.columns
    #plane
.row
  .small-6.small-offset-1.columns
    #plane_list
      = render :partial => 'planes_list'
