body {
  background: url("/assets/plane_back.jpg") no-repeat;
  background-attachment: fixed;
}

#container {
  background: white;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.headername
{
  font-family: "museo-sans",sans-serif;
  font-weight: 200;
  font-size: 50px;
  margin-top: 30px;
}

h3, h4, h5
{
  font-family: "museo-sans",sans-serif;
}

#show_flight_table
{
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #49AFDF;
}

#seat_plan
{
 margin-bottom: 50px;
}

.seats
{
  font-family: "museo-sans",sans-serif;
  padding-right: 30px;
}

.nav-bar
{
  padding-top: 42px;
  font-family: "museo-sans",sans-serif;
}

#logo_container, #btn_group_container {
  text-align: left;
}
#logo
{
  position: relative;
  float: left;
  padding: 20px;
  padding-right: 0px;
}

.destination
{
  padding: 20px;
}

.button
{
  font-family: "museo-sans",sans-serif;
}

#form
{
  font-family: "museo-sans",sans-serif;
  font-size: 18px;
}

.form_button
{
  margin-top: 20px;
}

#fid
{
  display:none;
}

.seatsids
{
  display:none;
}

.seat
{
  width: 30px;
  height: 30px;
  margin: 5px;
  background: blue;
  color: white;
}

#plane_box, #show_flight_table
{
  overflow: scroll;
}

#flight_table
{
  width: 100%;
  text-align: center;
}

.button-group
{
  width: 100%;
}

td {
  width: 65px;
  height: 50px;
}

.taken
{
  background: #304496;
  color: white;
  width: 65px;
  height: 50px;
  text-align: center;
  padding-top: 2px;
}

.available
{
  background: #49AFDF;
  color: white;
  cursor: hand;
  cursor: pointer;
  width: 65px;
  height: 50px;
  text-align: center;
  padding-top: 2px;
}

.selected
{
  background: #B63C89;
  color: white;
  width: 65px;
  height: 50px;
  text-align: center;
  padding-top: 2px;
}


#th {
  position: absolute;
  background: #304496;
  padding-right: 5px;
  margin-top: 7px;
  height: 50px;

}
#tr {
  background: #304496;
  font-weight: bold;
  td {
    height: 20px;
  }
}

#reg_form {
  position: absolute;
  top: -68px;
  left: 15px;
  z-index: 1;
  background: white;
  border: 1px solid #B63C89;
  border-radius: 5px;
  padding: 15px;
  width: 211px;
}

