
h1
{
  font-family: "museo-sans",sans-serif;
  font-weight: 200;
  font-size: 86px;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  background: blue;
  color: white;
}

#plane_box, #show_flight_table {
  overflow: scroll;

}
#flight_table {
  width: 100%;
  text-align: center;
}

.taken {
  background: black;
  color: white;
}

.available {
  background: green;
  color: white;
}

.selected {
  background: yellow;
  color: black;
}