<div class="row">
  <div class="large-12 columns">

    <div class="row">

      <div class="small-4 columns">
        <div id="form"></div>
      </div>

    </div>

    <%= yield %>

  </div>
</div>
