<div class="row">
  <div class="large-8 columns">
    <img id="logo" alt="Oceanic_03" src="/assets/oceanic_03.png">
    <div class=headername>ceanic airlines </div>
  </div>
  <div class="large-4 columns">
    <div class="nav-bar">
      <ul class="button-group">
        <li><%== login_nav %></li>
      </ul>
    </div>
  </div>
</div>



